<div id="lista">
	<h1>Shows</h1>

	<% for (let i = 0; i < shows.length; i++) { %>
		<div class="coupon">
			<div class="container">
				<div class="row">						
					<div class="col-sm-2 colunaEsquerda">

					</div>
					<div class="col-sm-8" >
						<h1>
							<%= shows[i].nome %>
						</h1>
						<p>
							<%= shows[i].data %>
						</p>
						<p>
							<%= shows[i].endereco %>
						</p>
						<p>
							<a href="<%= shows[i].link %>">Acesse o link</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	<% } %>

	<h1>Shows Passados</h1>

</div>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/show.css"/>

<script>

		const regLT = /\</g;
		const regGT = /\>/g;
		const regAPOS = /\'/g;
		const regQUOT = /\"/g;
		const regGRAVE = /\`/g;

			function encode(texto) {

				if(!texto){
					return "";
				}

				let temp = texto.replace(regLT, "&lt;");
				temp = temp.replace(regGT, "&gt;");
				temp = temp.replace(regAPOS, "&apos;");
				temp = temp.replace(regQUOT, "&quot;");
				temp = temp.replace(regGRAVE, "&grave;");

				return temp;

			}
			
</script>