<div id="lista">
	<h1>Shows</h1>

	<% for (let i = 0; i < shows.length; i++) { %>
		<div>
			<h1>
				<%= shows[i].nome %>
			</h1>
			<p>
				<%= shows[i].data %>
			</p>
			<p>
				<%= shows[i].endereco %>
			</p>
			<p>
				<a href="<%= shows[i].link %>">Acesse o link</a>
			</p>
		</div>
	<% } %>

</div>

<%- contentFor("head") %>
<link rel="stylesheet" type="text/css" href="/public/css/show.css"/>
